@charset "utf-8";
/* CSS Document */

.inputBox{
	width:70%;
	height:60px;
	border:1px rgba(56, 122, 179, 0.65) solid;
	margin-top: 5%;
	padding-left:2%;
	border-radius:5px;
	color:rgba(56, 122, 179, 0.65);
	font-size:24px;

}

.txtColor{
	color:rgba(70, 136, 193, 0.96);
	margin:0 auto;
}

.loginBtn{
	 width:71%;
	 height:60px;
	 color:#FFF;
	 background-color:#03F;
	 margin-top: 5%;
	 border:none;
	 font-size:24px;
}

.mainLogin{
	text-align:center;
	margin-top:11%;
}

.regisText{
	text-align:left;
	display:inline-block;
	padding-left:14%;
	color: #39A5F4;
	
}
.forgText{
	float:right;
	display:inline-block;
	padding-right:14%;
	color: #39A5F4;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
   color:rgba(56, 122, 179, 0.65);
   font-size:11px;
   font-weight:800;
   
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:rgba(56, 122, 179, 0.65);
   opacity:  1;
   font-size:11px;
   font-weight:800;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:rgba(56, 122, 179, 0.65);
  opacity:  1;
  font-size:11px;
  font-weight:800;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:rgba(56, 122, 179, 0.65);
  font-size:11px;
  font-weight:800;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:rgba(56, 122, 179, 0.65);
  font-size:11px;
  font-weight:800;
}
.labelTxt{
	color:rgba(56, 122, 179, 0.65);
	padding-top:5%;
	float: left;
}
.registrBox{
    width: 100%;
    height: 46px;
    border: 1px rgba(56, 122, 179, 0.65) solid;
    padding-left: 2%;
    border-radius: 5px;
    color: rgba(56, 122, 179, 0.65);
    font-size: 24px;
}

.regisBtn{
	width: 35%;
    height: 60px;
    color: #FFF;
    background-color: #03F;
    margin-top: 9%;
    border: none;
    font-size: 24px;
}

.headerText{
	width:328px; 
	margin:0 auto;
}
.infoBox{
	 width: 100%;
	 height:53px;
	 border:1px rgba(56, 122, 179, 0.65) solid;
	 padding-left:2%;
	 border-radius:5px;
	 color:rgba(56, 122, 179, 0.65);
	
}

.imageSelfie{
	
	width:205px; 
	height:auto; 
	margin:0 auto;
	border: solid 3px #006699;
}
.selfiBtn{
	width: 100%;
    height: 60px;
    color: #FFF;
    background-color: #03F;
    margin-top: 9%;
    border: none;
    font-size: 24px;
}
.phNo{
	margin-top:12px; 
	border-bottom:solid 1px rgba(56, 122, 179, 0.65);
	border-top:solid 1px rgba(56, 122, 179, 0.65);
}

.reportBox{
	 width: 100%;
	 height:53px;
	 border:1px rgba(56, 122, 179, 0.65) solid;
	 padding-left:2%;
	 border-radius:5px;
	 color:rgba(56, 122, 179, 0.65);
	
}
.reportLabelTxt{
	color:rgba(56, 122, 179, 0.65);
	padding-top:2%;
	float: left;
}

.nurseDuty{
	width: 100%;
    height: 60px;
    color: #FFF;
    background-color:rgb(68, 139, 197);
    border: none;
    font-size: 24px;
}
.imageGlaphicon{
	
	width:100px; 
	height:auto; 
	margin:0 auto;
	border: solid 2px #fff;
}

.headerTxtc{
	color:rgba(70, 136, 193, 0.96); 
	text-align:left;
	 font-size:17px;
}

.callText{
	display: inline-flex;
	font-size:24px;
	width:68%;
}

.imgTxt{
	color:#3F3; 
	width:57px;s
}
.borderTop{
 border-top:solid 1px rgba(70, 136, 193, 0.96);
}
.borderBottom{
 border-bottom:solid 1px rgba(70, 136, 193, 0.96);
}
.textColor{
	color:rgba(70, 136, 193, 0.96);
}