<aside>
  <div id="sidebar" class="nav-collapse"> 
    <!-- sidebar menu start-->
    <div class="leftside-navigation">
      <ul class="sidebar-menu" id="nav-accordion">
        <li> <a class="active" href="index.html"> <i class="fa fa-dashboard"></i> <span>Dashboard</span> </a> </li>
        <li class="sub-menu"> <a href="javascript:;"> <i class="fa fa-laptop"></i>Settings</a>
            <ul class="sub">
              <li><a href="company_setup.html">Company Profile details</a></li>
              <li><a href="company_notifications_setup.html">Company Notifications Setup</a></li>
              <li><a href="connect_with_limoAnywhere.html">Connect with limoanywhere</a></li>
              <li><a href="gateway-integration.html">Payment Gateway Setup</a></li>
            </ul>
          </li>
        <li class="sub-menu"> <a href="javascript:;"> <i class="fa fa-cog"></i>Online Reservation Settings</a>
          <ul class="sub">
              <li><a href="checkout_disclaimers.html">Checkout Disclaimer Setup</a></li>
              <li><a href="system_shutdown.html">System shutdown</a></li>
              <li><a href="cut_off_time_setting.html">cut-off setting</a></li>
            </ul>
        </li>
        <li class="sub-menu"> <a href=""> <i class="fa fa-gears"></i> <span>Vehicles/Airlines/Cruise Ships</span> </a>
            <ul class="sub">
              <li><a href="add_vehicle.html"><i class="fa fa-truck"></i>Add Vehicle Type</a></li>
              <li><a href="vehicle.html"><i class="fa fa-car"></i>Vehicle Type List</a></li>
              <li><a href="airlines_database.html"><i class="fa fa-plane"></i>Airlines db setup</a></li>
              <li><a href="cruiseShips_database.html"><i class="fa fa-ship"></i>Cruise Ships db setup</a></li>
            </ul>
          </li>
        <li class="sub-menu"> <a href="services.html"> <i class="fa fa-exchange"></i> <span>Service Type Setup</span> </a> </li>
        <li class="sub-menu"> <a href="javascript:;"> <i class="fa fa-th"></i> <span>Rate Management</span> </a>
          <ul class="sub">
            <li><a href="Ratesetup.html">Hourly Rate Setup</a></li>
            <li><a href="mileage_based_pricing.html">Mileage Rate Matrix</a></li>
            <li><a href="per_passenger_pricing.html">Passenger Rate Matrix</a></li>
            <li><a href="point_to_point_rate_setup.html">Zone to Zone Rate Setup</a></li>
            <li><a href="stops_calculation.html">Stop Calculation Setup</a></li>
          </ul>
        </li>
        <li class="sub-menu"> <a href="javascript:;"> <i class="fa fa-gears"></i> <span>Miscellaneous Rates</span> </a>
          <ul class="sub">
            <li><a href="special_request.html">Special Request Rate</a></li>
            <li><a href="driver_gratuity.html">Driver Gratuity Setup</a></li>
            <li><a href="mandatory_fees.html">Mandatory Fees Setup</a></li>
            <li><a href="conditional_pickup_time_surcharge.html">Conditional Pickup Time Surcharge Setup</a></li>
            <li><a href="holidays.html">Holiday Surcharge Setup</a></li>
            <li><a href="blackout_date.html">Blackout/Special Event Setup</a></li>
            <li><a href="carseat_surcharge.html">Optional Car Seat Surcharge Setup</a></li>
          </ul>
        </li>
        <li class="sub-menu"> <a href="service_market_area_setup.html"><i class="fa fa-th"></i><span>SMA Setup Menu</span> </a></li> 
         
              
        <li class="sub-menu"> <a href="peak_hour.html"> <i class="fa fa-clock-o"></i> <span>Peak Hour Setup</span> </a> </li>
        <li class="sub-menu"> <a href="javascript:;"> <i class="fa fa-minus-square-o"></i> <span>Discounts Setup Menu</span> </a>
          <ul class="sub">
            <li><a href="discount.html">Fare Discount Setup</a></li>
            <li><a href="discount_special.html">Special Requests/Limo Pckg Discounts</a></li>
          </ul>
        </li>
        <li class="sub-menu"> <a href="javascript:;"> <i class="fa  fa-location-arrow"></i> <span>Location Setup Menu</span> </a>
          <ul class="sub">
            <li><a href="Countries.html">Countries</a></li>
            <li><a href="StateProvince.html">State/Province</a></li>
            <li><a href="county.html">County</a></li>
            <li><a href="Cities.html">Cities</a></li>
            <li style="display:none"><a href="zone.html">Zone</a></li>
          </ul>
        </li>
                <li class="sub-menu"> <a href="javascript:;"> <i class="fa fa-map-marker"></i> <span>Zone DataBase Menu</span> </a>
          <ul class="sub">
            <li><a href="sma_city.html">City</a></li>
            <li><a href="airport_db.html">Airport</a></li>
            <li><a href="seaport_db.html">Seaport</a></li>
            <li><a href="train_db.html">Train</a></li>
          </ul>
        </li>
        <li class="sub-menu"><a href=""> <i class="fa fa-user"></i> <span>Customer Account Management</span> </a>
          <ul class="sub">
            <li><a href="addaccount.html">Add/Edit Customer Account</a></li>
            <li><a href="accountList.html">Customer Account List</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</aside>
