ul.vehicle-list {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 15px
}
ul.vehicle-list li a {
	display: block;
	border-bottom: 1px dotted #CFCFCF;
	padding: 10px;
	text-decoration: none
}
ul.vehicle-list li:first-child a {
	border-top: 1px dotted #CFCFCF
}
ul.vehicle-list li a:hover {
	background-color: #DBF9FF
}
ul.vehicle-list li span {
	display: block
}
ul.vehicle-list li span.vehicle-name {
	font-weight: 600;
	color: #8F8F8F
}
ul.vehicle-list li span.vehicle-tier-count {
	color: #8C8C8C
}
.top-links a {
	font-size: 12px
}
.top-links {
	text-align: right
}
div.rate-group-selector {
	display: inline-block
}
div.vehicle-list .panel-default>.panel-heading {
	background-color: transparent;
	padding: 15px
}
div.vehicle-list .panel-default {
	border-color: transparent
}
div.vehicle-list .panel {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow-none: none
}
#vehicle-list h4.panel-title {
	font-style: normal;
	font-size: 14px
}
div.vehicle-list .panel-group .panel+.panel {
	margin-top: 0px
}
.input-xs {
	height: 22px;
	padding: 5px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}
div.vehicle-list .table thead th {
	padding-bottom: 5px !important;
	text-transform: none;
	color: #898989;
	font-weight: normal
}
div.vehicle-list .table>tbody>tr>td, div.vehicle-list .table thead {
	border-top: none
}
div.vehicle-list .table-condensed>tbody>tr>td {
	padding: 2px
}
.table-action {
	text-align: right;
	font-size: 14px
}
.editable-text {
	width: 30%
}
.set {/* position:relative; *//* width:100%; *//* height:auto; *//* background-color:#f5f5f5 */
}
.set>a {
	display: block;
	padding: 20px 15px;
	text-decoration: none;
	color: #555;
	font-weight: 600;
	border-bottom: 1px solid #ddd;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear
}
.set>a:hover {
	background-color: cornsilk
}
.set>a i {
	position: relative;
	float: right;
	margin-top: 4px;
	color: #666
}
.set>a.active {
	background-color: #1fb5ad;
	color: #fff
}
.set>a.active i {
	color: #fff
}
.acc-content {
	position: relative;
	width: 100%;
	height: auto;
	background-color: #fff;
}
.form-control {
	color: black;
}
.serviceType_css {
	margin-top: 8%;
}
.serviceRate_css {
	margin-top: 3%;
}
#add_point_rate_to option {
	max-height: 10px !important;
}
select[multiple] {
	height: 35px;
}
.form-control1 {
	color: black;
}