.acc-content{
display:none;
  border: 1px solid gray;	
	}
	.show_data{
	display:none;	
		}
		.input_box_update{
				display:none;
			}
			.show_data_airport{
	display:none;	
		}
		.show_data_seaport{
	display:none;	
		}
		.show_data_point{
	display:none;	
		}
.show_details_airport{
	cursor:pointer;
	}	
.show_details_seaport{
	cursor:pointer;
	}
.show_details_point{
		cursor:pointer;
	}		
.input_box {
cursor: pointer;	
	}			
	.show_details1 {
cursor: pointer;	
	} 
	.design_popup{
		  margin-top: 4%;
		
		}
		.design_multiselect{
			  margin-top: 16%;
			}
.add_color{
	  padding: 2%;
  background-color: #4C4C4C;
    margin-left: 4%;
	  margin-top: 2%;
	}
	.add_color_rate{
		 background-color: #4C4C4C;
		   margin-top: 1%;
  margin-right: 4%;
    padding: 1%;
		}
		.peak-rate-main-div{
			display:none;
			
			}
			.my-fieldset
{
	  margin: 6px 8px 10px 10px !important;
  border: 1px solid #C0C0C0 !important;
  padding: 0 0px 11px 28px !important;
	  border: 1px solid #C0C0C0 !important;

	}
	.my-legend
	{
		font-size:16px;
		width:15% !important;
		border-bottom:0px solid #000 !important;
		  background-color: #ffffff;
  color: #025bab;
  font-weight: bold;
  text-align: center;
		}
		.peak-rate-main-div td
		{
			padding:6px;
			}
			.my-btn
			{
			margin-bottom: 2%;
  width: 98%;
  margin-left: 1%;
				}
.show_details_distance{
cursor:pointer;	
	}
	.show_data_per_passenger{
		display:none;
		}
		#save_data1{
		    width: 158px;
    margin-left: 26%;	
			}
			#save_data1_milege{
				width: 189px;
    margin-left: 26%;
				}
	#save_airport_rate{
		width: 189px;
    margin-left: 26%;
		}
		#save_seaport_rate{
			width: 189px;
    margin-left: 26%;
			}
			#save_pointtopoint_rate{
				width: 189px;
    margin-left: 26%;
				}
				#save_per_passanger_rate{
					width: 178px;
    margin-left: 54%;
					}
					#save_data1_fix_rate{
					width: 170px;
    margin-left: 45%;	
						}
						#add_base_rate_service_btn{
					width: 170px;
    margin-left: 45%;
							}
							#save_extraseat_rate{
				width: 170px;
    margin-left: 53%;
								}
								#remaining_hr{
									margin-left:-51%
									}
.input_box_miles{
	cursor: pointer;
	}
	.close_popup{
				width: 6%;
  margin-left: 50%;
  /*margin-top: -15%;*/
				}

		@media only screen and (min-width:1007px) and (max-width:1243px){
			#modal{
				    width: 26% !important;
				}
			 
		}
@media only screen and (min-width:768px) and (max-width:1007px){
	
	#modal{
				    width: 34% !important;
				}
					.close_popup{
				    width: 5% !important;
    margin-left: 91% !important;
    margin-top: -12% !important;
			
			} 
	
	}
	@media only screen and (min-width:768px) and (max-width:874px){
	#remaining_hr{
									margin-left:-19% !important;
									}
	}
 
@media only screen and (min-width:564px) and (max-width:767px){
	#modal{
				    width: 44% !important;
					    left: 31% !important;
				}
		.close_popup{
				    width: 5% !important;
    margin-left: 91% !important;
    margin-top: -11% !important;
			
}
}
@media only screen and (min-width:408px) and (max-width:563px){
	#modal{
				    width: 62% !important;
					    left: 19% !important;
				}
				#remaining_hr {
    margin-left: -11% !important;
}
	.close_popup{
				    width: 5% !important;
    margin-left: 91% !important;
    margin-top: -11% !important;
			
}
}
@media (max-width:408px)
{
#modal{
				    width: 71% !important;
					    left: 14% !important;
				}	
				#remaining_hr {
    margin-left: -11% !important;
}
}
@media only screen and (min-width:572px) and (max-width:661px){
	#remaining_hr {
    margin-left: -8% !important;
}
}
@media (max-width:356px){
	#rates{
		    margin-left: -42% !important;
		}
		.multiselect{
			    width: 122px !important;
			
			}
			#save_data1_milege {
    width: 132px;
    margin-left: 34%;
}
	}
	@media only screen and (min-width:367px) and (max-:width:472px){
		.multiselect{
			    width: 122px !important;
			
			}
		}
		@media only screen and (min-width:767px) and (max-width:840px)
		{
			
			
			}
			